# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- How to add and delete cells.
- How to add markdown cell.
- How to use heading styles.
- How to create ordered and unordered list..

Some of the commonly used libraries used by Data Scientists include:
1. Python
2. R
3. Scala
4. Java
5. Julia
6. SQL
7. C++
8. Javascript
9. Go
10. Php
11. Visual Basic
12. Ruby

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. Seaborn
5. Scikit-learn
6. Keras
7. TensorFlow
8. PyTroch
9. Apache Spark
10. Vegas
11. Big DL
12. Ggplot2s

Big DL

Ggplot2

| Data Science Tools |
|---------------------|
| Anaconda            |
| Jupyter Notebook    |
| R Studio            |
| Spyder              |
| Zeppelin            |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200//60

3

## Author
Muna